<% if false %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th>#</th>
			<th><%= t('Order#') %></th>
			<th><%= t('Sample Requirement') %></th>
			<th><%= t('Qty') %></th>	
			<th><%= t('Delivery Date') %></th>			
			<th><%= t('Shipping Tracking') %></th>			
			<th><%= t('Shipping Date') %></th>
			<th><%= t('Oked?') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
			
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{sample_path(r)}" %></td>
		  	<% unless has_action_right?('show', OrderSamplex.order_class.to_s.underscore, r) %>
		  	  <td><%= r.order_id %></td>
		  	<% else %>
		  	  <td><%= link_to r.order_id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{eval(OrderSamplex.show_order_path)}" %></td>
		  	<% end %>
		  	<td><%= r.sample_requirement %></td>
		  	<td><%= prt(r, :qty) %></td>
			<td><%= r.delivery_date.strftime("%Y/%m/%d") %></td>
			<td><%= r.shipping_tracking %></td>
			<td><%= r.shipping_date.strftime("%Y/%m/%d") %></td> 
			<td><%= r.oked ? t('Yes') : t('No') %></td>
			<td><%= prt(r, 'last_updated_by.name') %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_sample_path(r)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
			
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	<%= link_to t('New Sample'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape new_sample_path(:order_id => @order.id, :parent_record_id => @order.id, :parent_resource => OrderSamplex.order_class.to_s.underscore.pluralize) }", :class => BUTTONS_CLS['action']  if @order && has_action_right?('create', params[:controller], @order) %>
	    </th>
	  </tr>
	</table>

<% end %>	
